body {
  background-color: #F9FCFE;
  font-size: 16px;
  line-height: 1.5;
}

div.navbar, nav.navbar {
  background-image: none;
  background-color: #002255;
  background: linear-gradient(#002255, #114477);
}

.navbar-inverse .navbar-nav > .active > a {
  background-image: none;
  background-color: #002255;
  background: linear-gradient(#002255, #114477);
}

.navbar-inverse .navbar-nav > .active > a:hover {
  background-image: none;
  background-color: #002255;
  background: linear-gradient(#002255, #114477);
}

.jumbotron {
  background-color: #002255;
  background: linear-gradient(#114477, #336699);
  color: #F9FCFE;
}

div.doc {
  display: inline-block;
  margin: 3px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.fileUpload input.upload {
  font-size: 20px;
  top: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  padding: 0;
  right: 0;
  position: absolute;
  margin: 0;
}

div.row.filedetail, span {
  padding: 0;
  margin: 0;
  line-height: 12px;
  font-size: 16px;
}

.btn-group.review-selector {
  padding-top: 13px;
}

.file-list-entry {
  margin: 1em 0;
}

div.upload {
  border: 5px dashed;
  border-color: #A7A9AC;
  display: table;
  height: 150px;
  width: 150px;
}

div.upload-text {
  display: table-cell;
  vertical-align: middle;
}

div.upload-text span {
  line-height: 1.5em;
}

div.upload.dragoon {
  border-color: #ABC8E4;
}

div#droppable:hover {
  cursor: pointer;
  border-color: #628CB6;
}

.icon {
  text-align: center;
}

.file-text {
  margin-left: 10px;
}

.data a {
  display: block;
}

.label.label-info {
  display: inline-block;
  width: 150;
}

.doc-up {
  margin-top: 30;
}

div.submit-text span {
  display: block;
}

div.submit-text span.filename {
  font-weight: bold;
}

div.submit-text span.filesize {
  font-style: italic;
}

span.filesize:before {
  content: "(";
}

span.filesize:after {
  content: ")";
}

.three-quarters-loader.upload-text {
  top: 31.5px;
  left: 19.5px;
  height: 75.0px;
  width: 75.0px;
  border-radius: 112.5px;
  display: block;
}

.hidden {
  display: none;
}

button.enabled {
  background-color: #336699;
  font-weight: bold;
  color: #E0EDF9;
  border-color: #F9FCFE;
}

button.disabled {
  background-color: #A7A9AC;
  font-weight: bold;
  color: #FFFFEE;
  border-color: gray;
}